// .fc-ltr{
//     background-color: rgb(193, 192, 194);
// }
.fc-day-header{
    background-color:rgb(0, 153, 255);
}
.tr{
    border-width: 3px;
    border-color: yellow;
}
.fc-view-container{
    border-width: 3px;
    border-color: yellow;
}
.fc td, .fc th {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: rgb(141, 140, 140) !important;
  }
.fc-header-toolbar{
    
    height:30px;
}
.fc-day{
    background-color: rgb(236, 235, 235);
}  
.fc-day-top{
    background-color: rgba(255, 255, 0, 0.521) !important;
    .alert-info{
        background-color: red;
    }
}
.fc-day-number{
    font-weight: 600;
}
// .alert-info{
//     background-color: red;
// }