{% extends "index.html" %}
{% load static %}
<link href="{% static "css/register.css" %}">
{% block content %}
<div class="d-flex justify-content-center h-100">
        <div class="card2">
            <h1>Utwórz konto</h1>
            <p>Wypełnij poniższy formularz aby sie zarejestrować</p>
            <form action="." method="post">
            {{user_form.as_p}}
            {% csrf_token %}
            <div class="d-flex justify-content-center links">
            <p><input class="btn float-right btn-warning" type="submit" value="Utwórz konto"></p>
            
            </div>
            </form>
    </div>    
</div>
{% endblock %}